pywikibot~=9.1.2
nltk~=3.8.1
mwparserfromhell~=0.6.6
gradio~=4.29.0
moviepy~=1.0.3
flask~=3.0.3
flask-cors~=4.0.1
spacy~=3.7.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
