pywikibot~=9.1.2
nltk~=3.8.1
git+https://github.com/yeahwhat-mc/goslate#egg=goslate
PyDictionary~=2.0.1
mwparserfromhell~=0.6.6
flask~=3.0.3
flask-cors~=4.0.1
spacy~=3.7.4
transformers==4.40.2
sacrebleu==2.4.2
torch~=2.2.2
Flask-SQLAlchemy==3.1.1
SQLAlchemy~=2.0.30
pandas~=2.0.3
tqdm~=4.66.4
pillow~=10.3.0
datasets~=2.19.1
librosa~=0.10.2
soundfile~=0.12.1
ffmpeg-python~=0.2.0
pydub~=0.25.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
